@media (max-width: 1440px){

    .container{
        width: 1180px;
    }

    body{
        padding-top: 70px;
    }

    header{
        height: 70px;
    }

    .hero-content h1 {
        font-size: 44px;
        letter-spacing: 1.1px;
        line-height: 50px;
        margin-bottom: 12px;
    }
        
    .hero-content p {
        font-size: 18px;
        letter-spacing: 0.45px;
        line-height: 26px;
        margin-bottom: 12px;
    }
        
    .hero-content button a{
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 21px;
    }

    article.code-screenshots {
        padding-top: 50px;
    }
    
    article.code-screenshots h2 {
        font-size: 28px;
        letter-spacing: 0.7px;
        line-height: 38px;
        margin: 0 0 12px 0;
    }

    article.code-screenshots .code-sc {
        margin-top: 48px;
    }

    article.code-screenshots .code-sc .code {
        min-width: 220px; 
        margin: 17px 8px;
    }

    article.code-screenshots .code-sc .code .code-info .categories {
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    
    article.code-screenshots .code-sc .code .code-info .title {
        font-size: 13px;
        letter-spacing: 0.5px;
        line-height: 18px;
        margin-bottom: 8px;
    }
    
    article.code-screenshots .code-sc .code .code-info .code-using {
        font-size: 16px;
        letter-spacing: 0.4px;
        line-height: 30px;
    }
    
    article.code-screenshots .code-sc .code .code-info .code-using .old-code {
        font-size: 9px;
        letter-spacing: 0.23px;
        line-height: 30px;
        display: block;
        line-height: 14px;
    }
    
    article.code-screenshots .code .code-info button {
        height: 40px;
        width: 180px;
        letter-spacing: 0.35px;
        line-height: 21px;
    }
    
    aside.learning {
        width: 881px;
        max-width: 100%;
        padding: 50px 0;
        margin: 70px auto;
    }
    
    aside.learning-questions h3 {
        font-size: 22px;
        letter-spacing: 0.55px;
        line-height: 42px;
    }
    
    aside.learning-questions p {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 42px;
        margin-bottom: 15px;
    }
        
    aside.learning-questions form input[type=email] {
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 18px;
    }
        
    aside.learning-questions form input[type=submit] {
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 18px;
    }
    
    footer .bottom-nav {
        padding: 50px 0;
    }
        
    footer .container {
        max-width: 90%;
    }
        
    footer .bottom-nav ul li a {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 22px;
    }
        
    footer .bottom-nav ul li.list-title {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 26px;
        margin-bottom: 12px;
    }
        
    footer .copyright-text {
        height: 50px;
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 22px;
        text-align: center;
    }
}